*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/build
/app/release
/captures
.externalNativeBuild
.cxx
local.properties
civicsweep-api/
Command_for_creating_vendors_admins.txt
